body {
	display: flex;
	height: calc(100vh - 16px - 1px);
	flex-direction: column;
}

#editor-area {
	width: 100%;
	height: 90%;
	display: flex;
	flex-direction: row;
}

#text {
	width: 50%;
	height: 100%;
}

#text-editor {
	width: calc(100% - 8px);
	height: calc(100% - 5px);
	white-space: nowrap;
}

#cy {
	width: 50%;
	height: 100%;
}

#button-area {
	width: 100%;
	height: 10%;
	display: flex;
	align-items: center;
	justify-content: center;
}

#button-area button {
	height: 30px;
	width: 100px;
}
